* {
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img, span {
	margin: 0;
	padding: 0;
}

.button {
	display: inline-block;
	padding: 10px;

	border: none;
	outline: none;

	font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
	font-size: 15px;
	line-height: 24px;
	text-align: center;

	cursor: pointer;
}

@font-face {
	font-family: "BodoniC";
	src: url("../fonts/BodoniC.otf") format("opentype");
	src: local("BodoniC"), url("../fonts/BodoniC.otf") format("opentype"), url("../fonts/BodoniC.otf") format("opentype");
}

body {
	background: #05011f url("../img/background.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.item-card__inner {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

.item-card__description {
	width: 50%;

	color: #ffffff;
}

.item-card__slider {
	width: 50%;
}

.item-card__image {
	display: block;
	width: 50%;
	height: auto;
	margin: 0 auto;
}
